.App {
    text-align: center;
  }
.container{
color:rgb(44, 107, 107)}
.H1{
    margin-left: 300px;
}
.H2{
    margin-left: 268px;
    font-size: 20px;
    font-weight: 400;
}
img.padded{ 
    padding-left: 10px; 
    padding-right: 10px; 
  } 
  .input-group{
    margin-left: 300px;
}

  
 
  
  
